<ion-view ng-controller="profileController">
  <ion-nav-bar class="bar-stable">
    <ion-nav-title>{{'profile_title' | translate}}</ion-nav-title>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <img class="w100" ng-src="{{user.picture}}">
    <h1 class="color-black text-center" ng-if="user.name">{{'profile_Iam' | translate}} {{user.name}}!</h2>
    <h5 class="color-black text-center" ng-if="user.location">{{user.location}}</h5>
    <div class="list">
      <div class="item item-divider">
       {{'profile_trust' | translate}}
      </div>
      <div class="row line-b">
        <div class="col"><h6 class="text-gray">{{'profile_member' | translate}}</h5></div>
        <div class="col ellipsis"><h5 class="color-black oh">{{user.admissionDate}}</h5></div>
      </div>
      <div class="row line-b" ng-if="user.education">
        <div class="col"><h6 class="text-gray">{{'profile_education' | translate}}</h5></div>
        <div class="col ellipsis"><h5 class="color-black oh">{{user.education}}</h5></div>
      </div>
      <div class="row line-b">
        <div class="col"><h6 class="text-gray">{{'profile_work' | translate}}</h5></div>
        <div class="col ellipsis"><h5 class="color-black oh" ng-if="user.workEmployerName">{{user.workPositionName}} at {{user.workEmployerName}}</h5></div>
      </div>
      <div class="item item-divider item-icon-right">
       {{'profile_about' | translate}}
        <i class="icon ion-ios-plus-empty" ng-if="!user.about" ng-click="descriptionPopup()"></i>
      </div>
      <div class="text-center">
        <span ng-if="!user.about">{{'profile_noAbout' | translate}}</span>
        <span ng-if="user.about">{{user.about}}</span>
      </div>
      <div class="item item-divider">
       {{'profile_verified' | translate}}
      </div>
      <div class="item item-icon-right" ng-if="user.verified">
        Facebook
        <i class="icon ion-social-facebook-outline"></i>
      </div>
      <div class="item item-divider">
       {{'profile_mypublications' | translate}}
      </div>
      <a ng-repeat="publication in publications | orderBy : 'postDate'" class="item item-thumbnail-left item-text-wrap" href="#">
        <img src="{{publication.principalImage}}">
        <time>{{publication.postDate * 1000 | amTimeAgo}}</time>
        <p>{{publication.description}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
